.advantages {
  color: #000;

  padding: 40px 0 70px;
  background: rgba(252, 254, 87, 1);

  &__mini-title-container {
    margin: 0 0 55px 0;
  }

  &__title {
    margin: 0 0 140px 0;
  }

  &__card-conteiner {
    display: flex;
    gap: 50px 50px;
    flex-wrap: wrap;
    margin-bottom: 105px;
    justify-content: center;
  }

  &__card {
    gap: 27px 0;
    display: flex;
    max-width: 350px;
    align-items: center;
    flex-direction: column;
  }

  &__card-img {
    width: 96px;
    height: 90px;
    padding: 26px 29px;
    background: #fff;
    border-radius: 30px;
    display: inline-block;
  }

  &__card-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__card-text {
    font-size: 20px;
    text-align: center;
  }

  &__statistics-container {
    gap: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    max-width: 1400px;
    margin: 0 auto 30px;
    justify-content: center;
    border-top: 1px solid #000;
  }

  &__statistics p {
    font-weight: 500;
    &:first-child {
      font-size: 52px;
      text-align: center;

      @media (max-width: 380px) {
        font-size: 45px;
      }
    }
    &:last-child {
      font-size: 24px;
    }
  }
}
