.contacts {
  &__mini-title-container {
    margin: 0 0 55px 0;
  }

  &__title {
    margin: 0 0 140px 0;
  }

  &__card-container {
    display: flex;
    gap: 25px 25px;
    flex-wrap: wrap;
    margin: 0 auto 100px;
    justify-content: center;
  }

  &__card {
    width: 467px;
    display: flex;
    padding: 38px 83px;
    align-items: center;
    border-radius: 26px;
    flex-direction: column;
    box-shadow: 0px 3.496656656265259px 3.496656656265259px 0px
      rgba(0, 0, 0, 0.25);
    background: rgba(252, 252, 252, 1);
  }

  &__icon-container {
    height: 68px;
    padding: 22px;
    margin: 0 0 26px 0;
    border-radius: 50%;
    display: inline-block;
    background: rgba(13, 44, 84, 1);
  }

  &__card-icon {
    width: 24px;
    height: 24px;
  }

  &__card-text {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 18px 0;
  }

  &__card-link {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 44px 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__card-button {
    font-family: "Montserrat", sans-serif;
    border: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 4px;
    background: rgba(13, 44, 84, 1);

    &:hover {
      cursor: pointer;
      background: rgb(22, 72, 139);
    }
  }

  &__map-container {
    height: 680px;
    overflow: hidden;
    max-width: 1190px;
    border-radius: 30px;
    margin: 0 auto 100px;

    @media (max-width: 1250px) {
      min-width: auto;
    }
  }

  @media (max-width: 500px) {
    &__card {
      padding: 19px 37px;
    }

    &__card-text {
      font-size: 23px;
    }

    &__card-link {
      font-size: 18px;
    }

    &__card-button {
      font-size: 13px;
    }
  }
}
