.footer {
  color: #000;
  font-size: 17px;
  padding: 75px 0 185px;
  background: rgba(217, 217, 217, 1);

  @media (max-width: 1530px) {
    padding: 75px 0 100px;
  }

  &__container {
    display: grid;
    gap: 50px 135px;
    margin: 0 0 50px 0;
    max-width: 1490px !important;
    padding: 0 20px 45px !important;
    grid-template-columns: 595px 285px 335px;
    border-bottom: 0.6px solid rgba(0, 0, 0, 1);

    @media (max-width: 1530px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 930px) {
      gap: 50px 50px;
    }

    @media (max-width: 760px) {
      grid-template-columns: 1fr;
    }
  }

  &__grid-elem {
    &:first-child {
      & p:first-child {
        display: flex;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 70px 0;
        align-items: center;

        &::before {
          margin-right: 30px;
          content: url("../img/footer/icon.png");
        }

        @media (max-width: 1530px) {
          font-size: 50px;
          margin: 0 0 30px 0;
          justify-content: center;
        }
        @media (max-width: 760px) {
          font-size: 40px;
          flex-direction: column;
        }

        @media (max-width: 560px) {
          font-size: 30px;
        }

        @media (max-width: 400px) {
          font-size: 23px;
        }
      }

      & p:last-child {
        font-size: 18px;
        font-weight: 400;

        @media (max-width: 1530px) {
          font-size: 30px;
          text-align: center;
        }

        @media (max-width: 560px) {
          font-size: 25px;
        }

        @media (max-width: 400px) {
          font-size: 18px;
        }
      }

      @media (max-width: 1530px) {
        grid-column: 1 / 3;
        justify-self: center;
      }

      @media (max-width: 760px) {
        grid-column: 1 / 1;
      }
    }

    @media (max-width: 1530px) {
      justify-self: center;
    }

    @media (max-width: 760px) {
      justify-self: start;
    }

    & p {
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 30px 0;

      @media (max-width: 1530px) {
        font-size: 30px;
      }

      @media (max-width: 760px) {
        font-size: 40px;
      }

      @media (max-width: 560px) {
        font-size: 30px;
      }

      @media (max-width: 400px) {
        font-size: 23px;
      }
    }
    & ul li {
      line-height: 2;

      @media (max-width: 1530px) {
        font-size: 20px;
      }

      @media (max-width: 930px) {
        font-size: 18px;
      }

      @media (max-width: 760px) {
        font-size: 30px;
      }

      @media (max-width: 560px) {
        font-size: 25px;
      }

      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
  }

  &__link {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__flex-container {
    display: flex;
    margin: 0 auto;
    gap: 30px 20px;
    padding: 0 15px;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 1515px;
    justify-content: space-between;

    & p {
      text-align: center;
    }

    @media (max-width: 1120px) {
      justify-content: center;
      font-size: 20px;
    }
  }
}
