.works {
  margin: 0 0 100px 0;

  &__title {
    margin: 0 0 100px 0;
  }

  &__main-container {
    display: flex;
    overflow: hidden;

    @media (max-width: 1000px) {
      overflow: auto;
    }
  }

  &__img-container {
    display: flex;
    flex-shrink: 0;
    gap: 38px 20px;
    flex-wrap: wrap;
    max-width: 1845px;
  }

  &__mini-title-container {
    margin: 0 0 55px 0;
  }

  &__img {
    max-width: 564px;
    max-height: 308px;
  }
}
